@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Poppins:700&display=swap);


.BarChart-header{
    text-align: center;
}
.BarChart-container{
    height: 450px;
    border: 1px solid tomato;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
}

.BarChart-bar{
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    z-index: 100;
    width: 150px;
    transition: width .5s;
    
}

.BarChart-featureComparison{
    position: relative;
    color: antiquewhite;
    z-index: 100;
}
.BarChart-shipSelection{
    position: relative;
    color: antiquewhite;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.BarChart-bar:hover{
    width: 155px;
    border: 10px solid antiquewhite; 
}
.BarChart-bar:nth-of-type(even){
    background: #8CBA51; /*green */
}

.BarChart-bar:nth-of-type(odd){
    background: #C9485B; /*red*/
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 5px #6cf;
    font-size: 50px;
}

.BarChart-entirety{
    width: 800px;
    margin: auto;
}



/*--------- BEGIN: Default React CSS ----------*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*--------- END: Default React CSS ----------*/


/*------- BEGIN: Star Background CSS ------------*/
body {
    background: #000;
}
#space, .stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .stars {
    background-image: 
      radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    animation: zoom 5s infinite;
    opacity: 0;
  }
  
  .stars:nth-child(1) {
    background-position: 50% 50%;
    animation-delay: 0s;
  }
  .stars:nth-child(2) {
    background-position: 20% 60%;
    animation-delay: 1s;
  }
  .stars:nth-child(3) {
    background-position: -20% -30%;
    animation-delay: 2s;
  }
  .stars:nth-child(4) {
    background-position: 40% -80%;
    animation-delay: 3s;
  }
  .stars:nth-child(5) {
    background-position: -20% 30%;
    animation-delay: 4s;
  }
  
  @keyframes zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
      animation-timing-function: ease-in;
    } 
    85% {
      opacity: 1;
      transform: scale(2.8);
      animation-timing-function: linear;
    }
    100% {
      opacity: 0;
      transform: scale(3.5);
    }
  }
  /*------- END: Star Background CSS ------------*/